header, nav, main, footer
{
display: block;
width: 1078px;
}

body {
 color: #ffffff;
 background-color:#000000;
}

header
{
 color: #red;
 background-color:#000000;
}

nav{
 color: #blue;
 background-color:#000000;
}

main{
 color: #orange;
 background-color:#000000;
 height: auto;
}


footer{
 color: #ffffff;
 background-color:#000000;
}
div {width: 1078px; height: 100px;}
